﻿@model IEnumerable<YF.FileManager.Models.Files>
@{
    ViewBag.Title = "File Manager";
}

<div class="row">
    <br />

    @using (Html.BeginForm("QRCodeView", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {

    <div class="jumbotron">
        <div class="form-group"> 
            <div class="col-md-5">
                <label>File Name</label>
                <input type="text" name="FileName" required="required" class="form-control" placeholder="Maximum 50 Mb Yükleyiniz." />
            </div>
        </div>
        <div class="form-group"> 
            <div class="col-md-5">
                <input type="file" name="FileUpload" id="FileUpload" required="required" />
            </div>
        </div>

        <div class="form-group">

            <div class="col-md-2">
                <button type="submit" class="btn btn-primary btn-lg">Upload &raquo;</button>
            </div>
        </div> 
        
    </div>


    }

</div>

<div class="row">
    <div class="col-md-12">
        <h2>My Files</h2>
        
        <table class="table">

            <thead>
                <tr>

                    <th>File</th>
                    <th>Owner</th>
                    <th>Upload Time</th>
                    <th>Link</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.FileName </td>
                        <td>@item.CreatedUser </td>
                        <td>@item.CreatedTime </td>
                        <td>

                            <a href="/Uploads/@item.FileURL" target="_blank" class="btn btn-success">Download</a>
                            <a href="/Home/Delete/@item.FileGuid" onclick="return confirm('Silme İşlemini Onaylıyor Musunuz?')" class="btn btn-danger">Delete</a>
                            <a href="/Home/QRCodeView/@item.FileGuid" class="btn btn-default" target="_top">QR Code</a>

                        </td>
                    </tr>

                }

            </tbody>


        </table>

    </div>
   
</div> 