﻿@model IEnumerable<YF.FileManager.Models.Files>
@{
    ViewBag.Title = "My Files";
}

 



<div class="row">
    <div class="col-md-12">
        <h2>My Files</h2>

        <table class="table">

            <thead>
                <tr>

                    <th>File</th>
                    <th>Owner</th>
                    <th>Upload Time</th>
                    <th>Link</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.FileURL </td>
                        <td>@item.CreatedUser </td>
                        <td>@item.CreatedTime </td>
                        <td>

                            <a href="/Uploads/@item.FileURL" target="_blank" class="btn btn-success">Download</a>
                            <a href="/Delete/@item.FileGuid" onclick="return confirm('Silme İşlemini Onaylıyor Musunuz?')" class="btn btn-danger">Delete</a>
                            <a href="/Home/QRCodeView/@item.FileGuid" class="btn btn-default" target="_top">QR Code</a>

                        </td>
                    </tr>

                }

            </tbody>


        </table>

    </div>

</div>