﻿@model YF.FileManager.Models.Files
@{
    ViewBag.Title = "QRCodeView";
}

@section heads{

    <style type="text/css">
        @@media print {
            #printbtn {
                display: none;
            }
        }
    </style>

}

<h2>File QR Code</h2>




@if (ViewBag.QRCodeImage != null)
{
    <img src="@ViewBag.QRCodeImage" alt="" style="height:250px;width:250px" />
}

<br />

Link : @Model.FileURL
<br />
Uploaded by : @Model.CreatedUser on @Model.CreatedTime


<br />
<br />

<input id="printbtn" class="btn btn-primary btn-lg" type="button" value="Print" onclick="window.print();">